report/main.pdf
result
.prettiercache

# Some Linux DEs
.Trash-*

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini


# Mac OS
._*
.DS_Store
.AppleDouble
.LSOverride
